.button{
    background-color: rgb(230, 76, 10);
    color: white;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    outline: none;
    border-radius: 0.5rem;
   border:none;
   cursor: pointer;
    
}